@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.info-cnt {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 410px;
}

.info-input-cnt {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.input-box {
  width: 100%;
  max-width: 400px;
  height: 37px;
  border-radius: 5px;
  padding-left: 9px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: hsl(213, 96%, 18%);
}

.info-cnt-header,
.info-note {
  font-family: 'Oswald', sans-serif;
  color: hsl(213, 96%, 18%);
}

.info-note {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
}

.info-btn-cnt {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.info-btn {
  width: 99px;
  height: 44px;
  border-radius: 7px;
  color: aliceblue;
  background-color: hsl(213, 96%, 18%);
  border: none;
  font-size: 19px;
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .input-box {
    height: 67px;
    font-size: 28px;
  }

  .input-label {
    font-size: 28px;
  }

  .info-cnt-header {
    font-size: 48px;
  }
  .info-note {
    font-size: 23px;
  }
}
