.summary-main-div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 410px;
  height: 400px;
}

.summary-data-cnt {
  display: flex;
  flex-direction: column;
  background-color: hsl(229, 51%, 92%);
  width: 450px;
  border-radius: 7px;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.summary-arcade-cnt {
  display: flex;
  height: 100px;
  width: 400px;
  justify-content: space-between;
  padding-top: 10px;
}

.summary-arcade-txt-cnt {
  display: flex;
  gap: 2px;
}

.storage-service-cnt {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  height: 100px;
  width: 400px;
}

.storage-service-cnt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.online-service-cnt {
  display: flex;
  justify-content: space-between;
}

.storage-cnt {
  display: flex;
  justify-content: space-between;
}

.summary-total-cnt {
  padding-top: 20px;
  padding-left: 20px;
}

.summary-total-data-cnt {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.summary-header,
.summary-para {
  font-family: 'Oswald', sans-serif;
  color: hsl(213, 96%, 18%);
}

.summary-para {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
}

.arcade-txt,
.arcade-monthly,
.arcade-data,
.arcade-yr {
  font-family: 'Oswald', sans-serif;
  color: hsl(213, 96%, 18%);
  font-size: 16px;
  font-weight: 500;
}

.online-service-txt,
.storage-txt,
.total-txt {
  font-family: 'Oswald', sans-serif;
  color: hsl(213, 96%, 18%);
  font-size: 14px;
  opacity: 0.7;
}

.online-service-data,
.storage-data {
  color: hsl(213, 96%, 18%);
  font-size: 14px;
}

.total-data {
  color: hsl(243, 100%, 62%);
  font-size: 18px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

.summary-btn-cnt {
  display: flex;
  justify-content: space-between;
}

.summary-save-btn {
  width: 99px;
  height: 44px;
  border-radius: 7px;
  color: aliceblue;
  background-color: hsl(213, 88%, 41%);
  border: none;
  font-size: 19px;
  cursor: pointer;
}

.summary-back-btn {
  color: blue;
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .summary-main-div {
    height: 600px;
  }

  .summary-header {
    font-size: 38px;
  }

  .summary-para {
    font-size: 28px;
  }

  .summary-data-cnt {
    height: 300px;
  }

  .arcade-txt,
  .arcade-monthly,
  .arcade-data,
  .arcade-yr {
    font-size: 23px;
  }

  .online-service-txt,
  .storage-txt,
  .total-txt {
    font-size: 21px;
  }

  .summary-btn-cnt {
    padding-left: 25px;
  }
}
