.addOn-cnt {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 410px;
  height: 400px;
}

.addOn-input-main-cnt {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.addOn-input-cnt {
  display: flex;
  gap: 25px;
  border: solid 1px rgb(16, 15, 15);
  width: 400px;
  height: 80px;
  padding-left: 13px;
  border-radius: 5px;
}

.addOn-dtls {
  display: flex;
  align-items: center;
  width: 320px;
  justify-content: space-between;
}

.addOn-header-txt,
.addOn-para-txt {
  font-family: 'Oswald', sans-serif;
  color: hsl(213, 96%, 18%);
}

.addOn-para-txt {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
}

.addOn-label {
  font-family: 'Oswald', sans-serif;
  color: hsl(213, 96%, 18%);
}

.input-infrm-txt {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
}

.addOn-btn-cnt {
  display: flex;
  justify-content: space-between;
}

.addOn-back-btn {
  border: none;
  color: hsl(243, 100%, 62%);
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}

.addOn-next-btn {
  width: 99px;
  height: 44px;
  border-radius: 7px;
  color: aliceblue;
  background-color: hsl(213, 96%, 18%);
  border: none;
  font-size: 19px;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .addOn {
    height: 780px;
    gap: 65px;
  }

  .addOn-header-txt {
    font-size: 38px;
  }

  .addOn-para-txt {
    font-size: 23px;
  }

  .addOn-input-main-cnt {
    height: 580px;
  }

  .addOn-input-cnt {
    height: 100px;
  }
  .addOn-label {
    font-size: 28px;
  }
  .input-infrm-txt {
    font-size: 18px;
  }

  .addOn-value {
    font-size: 17px;
  }
}
