.sidebar-cnt {
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  padding-left: 19px;
  padding-top: 42px;
  gap: 12px;
  position: relative;
  background: url('../../assets/sidebar.svg');
  height: 500px;
  max-width: 270px;
  width: 100%;
  border-radius: 7px;
}

.sidebar-small-cnt {
  display: flex;
  align-items: center;
  gap: 19px;
  z-index: 100;
}

.sidebar-num-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

.on {
  background-color: hsl(206, 94%, 87%);
}

@media screen and (max-width: 650px) {
  .sidebar-cnt {
    display: flex;
    background-repeat: no-repeat;
    padding-left: 19px;
    padding-top: 42px;
    gap: 12px;
    position: relative;
    background: url('../../assets/sidebarmobile.svg');
    height: 600px;
    max-width: 470px;
    width: 100%;
    border-radius: 7px;
  }

  .sidebar-para-cnt {
    display: none;
  }

  .sidebar-small-cnt {
    display: flex;
    flex-direction: row;
    gap: 19px;
  }
}
