.sidebar-cnt {
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  padding-left: 19px;
  padding-top: 42px;
  gap: 12px;
  background: url('../../assets/sidebar.svg');
  background-repeat: no-repeat;
  height: 500px;
  max-width: 270px;
  width: 100%;
  border-radius: 7px;
}

.sideBar-mobile-view {
  display: none;
}

.sidebar-small-cnt {
  display: flex;
  align-items: center;
  gap: 19px;
  z-index: 100;
}

.sidebar-num-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

.on {
  background-color: hsl(206, 94%, 87%);
}

@media screen and (max-width: 650px) {
  .sidebar-cnt {
    display: none;
  }

  .sideBar-mobile-view {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('../../assets/sidebar.svg');
    height: 600px;
    width: 700px;
    position: absolute;
  }

  .sidebar-mobile-num-cnt {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid white;
  }

  .isOn {
    background-color: hsl(206, 94%, 87%);
  }

  .num {
    font-size: 24px;
    font-weight: 600;
  }
}
