.message-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-top: 95px;
}

.message-txt-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.message-content {
  text-align: center;
}

.message-img {
  width: 60px;
  height: 60px;
}

.message-header,
.message-content {
  font-family: 'Oswald', sans-serif;
  color: hsl(213, 96%, 18%);
}

.message-content {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
}

@media screen and (max-width: 460px) {
  .message-cnt {
    height: 680px;
  }

  .message-header {
    font-size: 58px;
  }

  .message-content {
    font-size: 38px;
    padding-left: 35px;
  }

  .message-img {
    height: 150px;
    width: 150px;
  }
}
